a.toc-title(href='#') Kefir.js <span class="version">(#{pkg.version})</span>
ul.toc-section
  li: a(href='#downloads') Downloads
  li: a(href='#npm-bower') Install via NPM or Bower
  li: a(href='#demos') Demos and examples

a.toc-title(href='#create-stream') Create a stream
ul.toc-section
  +method('#emitter', 'emitter')
  +method('#never', 'never')
  +method('#later', 'later')
  +method('#interval', 'interval')
  +method('#sequentially', 'sequentially')
  +method('#repeatedly', 'repeatedly')
  +method('#from-poll', 'fromPoll')
  +method('#with-interval', 'withInterval')
  +method('#from-callback', 'fromCallback')
  +method('#from-binder', 'fromBinder')

a.toc-title(href='#create-property') Create a property
ul.toc-section
  +method('#constant', 'constant')

a.toc-title(href='#jquery') jQuery addon
ul.toc-section
  +method('#as-kefir-stream', 'asKefirStream')

a.toc-title(href='#convert') Convert observables
ul.toc-section
  +method('#to-property', 'toProperty')
  +method('#changes', 'changes')

a.toc-title(href='#main-methods') Main observable methods
ul.toc-section
  +method('#on-value', 'onValue')
  +method('#off-value', 'offValue')
  +method('#on-end', 'onEnd')
  +method('#off-end', 'offEnd')
  +method('#on-any', 'onAny')
  +method('#off-any', 'offAny')
  +method('#log', 'log')
  +method('#off-log', 'offLog')

a.toc-title(href='#modify') Modify an observable
ul.toc-section
  +method('#map', 'map')
  +method('#map-to', 'mapTo')
  +method('#pluck', 'pluck')
  +method('#invoke', 'invoke')
  +method('#not', 'not')
  +method('#tap', 'tap')
  +method('#filter', 'filter')
  +method('#take', 'take')
  +method('#take-while', 'takeWhile')
  +method('#skip', 'skip')
  +method('#skip-while', 'skipWhile')
  +method('#skip-duplicates', 'skipDuplicates')
  +method('#diff', 'diff')
  +method('#scan', 'scan')
  +method('#reduce', 'reduce')
  +method('#delay', 'delay')
  +method('#defer', 'defer')
  +method('#throttle', 'throttle')
  +method('#with-handler', 'withHandler')

a.toc-title(href='#combine-observables') Combine observables
ul.toc-section
  +method('#combine', 'combine')
  +method('#and', 'and')
  +method('#or', 'or')
  +method('#sampled-by', 'sampledBy')
  +method('#merge', 'merge')
  +method('#pool', 'pool')
  +method('#flat-map', 'flatMap')
  +method('#awating', 'awating')
  +method('#filter-by', 'filterBy')
  //- +method('#flat-map-latest', 'flatMapLatest')

a.toc-title(href='#active-state') Active state
a.toc-title(href='#callbacks') About callbacks
a.toc-title(href='#emitter-object') Emitter object
