a.toc-title(href='#') Kefir.js <span class="version">(#{pkg.version})</span>
ul.toc-section
  li: a(href='#download') Download
  li: a(href='#npm') Install via NPM
  li: a(href='#bower') Install via Bower


a.toc-title(href='#create') Create a property
ul.toc-section
  +method('#emitter', 'emitter')
  +method('#empty', 'empty')
  +method('#constant', 'constant')
  +method('#constant-error', 'constantError')
  +method('#later', 'later')
  +method('#interval', 'interval')
  +method('#sequentially', 'sequentially')
  +method('#repeatedly', 'repeatedly')
  +method('#from-poll', 'fromPoll')
  +method('#with-interval', 'withInterval')
  +method('#from-binder', 'fromBinder')


a.toc-title(href='#main-methods') Main property methods
ul.toc-section
  +method('#on', 'on')
  +method('#watch', 'watch')
  +method('#off', 'off')
  +method('#has', 'has')
  +method('#get', 'get')
  +method('#log', 'log')


a.toc-title(href='#modify') Modify a property
ul.toc-section
  +method('#map', 'map')
  +method('#filter', 'filter')
  +method('#take', 'take')
  +method('#take-while', 'takeWhile')
  +method('#skip', 'skip')
  +method('#skip-while', 'skipWhile')
  +method('#skip-duplicates', 'skipDuplicates')
  +method('#diff', 'diff')
  +method('#scan', 'scan')
  +method('#reduce', 'reduce')
  +method('#add-current', 'addCurrent')
  +method('#skip-current', 'skipCurrent')
  +method('#with-handler', 'withHandler')
  +method('#delay', 'delay')
  +method('#throttle', 'throttle')


a.toc-title(href='#combine-properties') Combine properties
ul.toc-section
  +method('#combine', 'combine')
  +method('#sampled-by', 'sampledBy')
  +method('#merge', 'merge')
  +method('#pool', 'pool')
  +method('#flat-map', 'flatMap')
  +method('#flat-map-latest', 'flatMapLatest')


a.toc-title(href='#active-state') Active state
a.toc-title(href='#callbacks') About callbacks

