a.toc-title(href='#') Kefir.js
ul.toc-section
  li: a(href='#installation') Installation

a.toc-title(href='#examples') Examples

a.toc-title(href='#about-observables') Intro to  Streams and Properties

a.toc-title(href='#create-stream') Create a stream
ul.toc-section
  +method('#never', 'never')
  +method('#later', 'later')
  +method('#interval', 'interval')
  +method('#sequentially', 'sequentially')
  +method('#from-poll', 'fromPoll')
  +method('#with-interval', 'withInterval')
  +method('#from-callback', 'fromCallback')
  +method('#from-node-callback', 'fromNodeCallback')
  +method('#from-event', 'fromEvents')
  +method('#stream', 'stream')

a.toc-title(href='#create-property') Create a property
ul.toc-section
  +method('#constant', 'constant')
  +method('#constant-error', 'constantError')
  +method('#from-promise', 'fromPromise')

a.toc-title(href='#convert') Convert observables
ul.toc-section
  +method('#to-property', 'toProperty')
  +method('#changes', 'changes')

a.toc-title(href='#main-methods') Subscribe / add side effects
ul.toc-section
  +method('#on-value', 'onValue')
  +method('#off-value', 'offValue')
  +method('#on-error', 'onError')
  +method('#off-error', 'offError')
  +method('#on-end', 'onEnd')
  +method('#off-end', 'offEnd')
  +method('#on-any', 'onAny')
  +method('#off-any', 'offAny')
  +method('#log', 'log')
  +method('#off-log', 'offLog')
  +method('#to-promise', 'toPromise')

a.toc-title(href='#modify') Modify an observable
ul.toc-section
  +method('#map', 'map')
  +method('#filter', 'filter')
  +method('#take', 'take')
  +method('#take-while', 'takeWhile')
  +method('#last', 'last')
  +method('#skip', 'skip')
  +method('#skip-while', 'skipWhile')
  +method('#skip-duplicates', 'skipDuplicates')
  +method('#diff', 'diff')
  +method('#scan', 'scan')
  +method('#flatten', 'flatten')
  +method('#delay', 'delay')
  +method('#throttle', 'throttle')
  +method('#debounce', 'debounce')
  +method('#values-to-errors', 'valuesToErrors')
  +method('#errors-to-values', 'errorsToValues')
  +method('#map-errors', 'mapErrors')
  +method('#filter-errors', 'filterErrors')
  +method('#end-on-error', 'endOnError')
  +method('#skip-values', 'skipValues')
  +method('#skip-errors', 'skipErrors')
  +method('#skip-end', 'skipEnd')
  +method('#before-end', 'beforeEnd')
  +method('#sliding-window', 'slidingWindow')
  +method('#buffer-while', 'bufferWhile')
  +method('#transduce', 'transduce')
  +method('#with-handler', 'withHandler')

a.toc-title(href='#combine-observables') Combine observables
ul.toc-section
  +method('#combine', 'combine')
  +method('#zip', 'zip')
  +method('#merge', 'merge')
  +method('#concat', 'concat')
  +method('#pool', 'pool')
  +method('#repeat', 'repeat')
  +method('#flat-map', 'flatMap')
  +method('#flat-map-latest', 'flatMapLatest')
  +method('#flat-map-first', 'flatMapFirst')
  +method('#flat-map-concat', 'flatMapConcat')
  +method('#flat-map-with-concurrency-limit', 'flatMapConcurLimit')
  +method('#flat-map-errors', 'flatMapErrors')

a.toc-title(href='#combine-two') Combine two observables
ul.toc-section
  +method('#filter-by', 'filterBy')
  +method('#obs-sampled-by', 'sampledBy')
  +method('#skip-until-by', 'skipUntilBy')
  +method('#take-until-by', 'takeUntilBy')
  +method('#buffer-by', 'bufferBy')
  +method('#buffer-while-by', 'bufferWhileBy')
  +method('#awaiting', 'awaiting')

a.toc-title(href='#active-state') Activation and deactivation of observables
a.toc-title(href='#emitter-object') Emitter
a.toc-title(href='#about-errors') Errors
a.toc-title(href='#current-in-streams') Current values/errors in streams
