{
  extends: ["eslint:recommended"],
  parserOptions: {
    ecmaVersion: 6,
    sourceType: "module"
  },
  rules: {
    "no-console": 0
  },
  globals: {
    Promise: true,
    Symbol: true
  },
  env: {
    node: true
  }
}
