{
  extends: ["eslint:recommended"],
  parserOptions: {
    ecmaVersion: 6,
    sourceType: "module"
  },
  rules: {
    "no-console": 0
  },
  globals: {
    Promise: false,
    Symbol: false
  },
  env: {
    node: true
  }
}
