{
  extends: ["eslint:recommended"],
  ecmaFeatures: {
    arrowFunctions: true,
    blockBindings: true,
    defaultParams: true,
    destructuring: true,
    objectLiteralShorthandMethods: true,
    templateStrings: true,
    restParams: true
  },
  rules: {
    "no-console": 0
  },
  env: {
    node: true
  }
}
