include includes/mixins

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Kefir.js — fast and light Reactive Programming library for JavaScript inspired by Bacon.js and RxJS
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type='text/css')
      include:uglify-css includes/stylesheet.css
  body

    .sidebar
      include includes/side-menu

    .container
      include descriptions/intro
      include descriptions/create
      include descriptions/jquery
      include descriptions/convert
      include descriptions/main-methods
      include descriptions/one-source
      include descriptions/multiple-sources
      include descriptions/two-sources
      include descriptions/active-state
      include descriptions/emitter-object
      include descriptions/errors

    script(src='bower-packages/jquery/jquery.js')
    script(src='bower-packages/transducers-js/transducers.js')
    script(src='dist/kefir.js')
    script(src='dist/addons/kefir-jquery.js')

    script.
      $.getJSON('https://api.github.com/emojis', function(emojis){
        $('[data-emoji]').each(function(){
          var name = $(this).data('emoji');
          $(this).attr({
            src: emojis[name],
            title: ':' + name + ':',
            alt: ':' + name + ':'
          });
        });
      });

      var $window = $(window);
      var $document = $(document);
      var scrollLeft = $window.asKefirProperty('scroll', function() {
        return $window.scrollLeft();
      });
      var winWidth = $window.asKefirProperty('resize', function() {
        return $window.width();
      });
      var docWidth = $window.asKefirProperty('resize', function() {
        return $document.width();
      });
      Kefir.combine([scrollLeft, winWidth, docWidth], function(scrollLeft, winWidth, docWidth) {
        return -Math.min(docWidth - winWidth, Math.max(0, scrollLeft));
      }).skipDuplicates().onValue(function(x) {$('.sidebar').css('left', x)});

    | <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26158662 = new Ya.Metrika({id:26158662}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26158662" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
