h2#emitter-object Emitter

p.
  Emitter is an object that has four methods for emitting events.
  It is used in several places in Kefir as a proxy to emit events from some observable.

ul
  li #[tt emitter.value(value)] emits a value in the connected observable
  li #[tt emitter.error(error)] emits a error in the connected observable
  li #[tt emitter.end()] ends the connected observable
  li #[tt emitter.event(event)] emits an event (object with same format as in #[a(href='#on-any') onAny] method) in the connected observable

pre.javascript(title='example')
  :escapehtml
    emitter.value(123);
    emitter.error('Oh, snap!');
    emitter.end();
div

p.
  All #[b emitter] methods are bound to their context,
  and can be passed as callbacks safely without binding:

pre.javascript
  :escapehtml
    // instead of this
    el.addEventListener('click', emitter.value.bind(emitter));

    // you can do just this
    el.addEventListener('click', emitter.value);
div

p.
  There also exist legacy aliases to #[b emitter] methods:

ul
  li #[tt emitter.emit === emitter.value]
  li #[tt emitter.emitEvent === emitter.event]

