h2#emitter-object Emitter

p.
  Emitter is an object that has four methods for emitting events.
  It is used in several places in Kefir as a proxy to emit events from some observable.

p.
  The methods names describe themselves pretty clearly:

ul
  li #[tt emitter.emit(value)] accepts one argument (any value)
  li #[tt emitter.error(error)] accepts one argument (any value)
  li #[tt emitter.end()] accepts no arguments
  li #[tt emitter.emitEvent(event)] accepts one agrument (event object with same format as in #[a(href='#on-any') onAny] method). Note that the #[tt current] property of #[b event object] is ignored and is automatically set to an appropriate value for result event.

pre
  :escapehtml
    emitter.emit(123);
    emitter.error('Oh, snap!');
    emitter.end();
div

p.
  All #[b emitter] methods are bound to its context,
  and can be passed safely as callbacks without binding:

pre
  :escapehtml
    // instead of this
    $('.foo').on('click', emitter.emit.bind(emitter));

    // you can do just this
    $('.foo').on('click', emitter.emit);
div


