h2#examples Examples

p.
  Let's start from a quick little example to get you a feel
  of what is it like to program with Kefir.
  First we create a stream of events
  that will produce three numbers with interval of 100 milliseconds:

pre(title='example')
  :escapehtml
    var numbers = Kefir.sequentially(100, [1, 2, 3]);

p.
  Now let's create another stream based on the first one.
  As you might guess, it will produce 2, 4, and 6.

pre(title='example')
  :escapehtml
    var numbers2 = numbers.map(function(x) {
      return x * 2;
    });

p.
  Suppose we don't want number 4 to be in the sequence,
  no problem, we can filter it out:

pre(title='example')
  :escapehtml
    var numbers3 = numbers2.filter(function(x) {
      return x !== 4;
    });

p.
  Ok, I think numbers3 stream is what we want,
  it's time to subscribe to it and to get the values:

pre(title='example')
  :escapehtml
    numbers3.onValue(function(x) {
      logger.log(x);
    });

script.
  function Logger(domNode, divider) {
    this.domNode = domNode;
    this.divider = divider || ' ';
    this.domNode.innerHTML = '';
  }

  Logger.prototype.log = function(x) {
    this.domNode.innerHTML += '' + x + this.divider;
  }

  function runExample1() {
    var logger = new Logger(document.querySelector('#example-log-1'));
    Kefir.sequentially(100, [1, 2, 3])
      .map(function(x) {
        return x * 2;
      })
      .filter(function(x) {
        return x !== 4;
      })
      .onValue(function(x) {
        logger.log(x);
      });
  }

p
  button(onClick='runExample1()') Run example

pre(title='logger output' id='example-log-1' style='min-height:18px')

h3 More examples

ul
  li #[a(href="demos/counter.html") Counter]  — most basic example
  li #[a(href="demos/position.html") Position] — another basic example
  li #[a(href="demos/custom-stream.html") Custom stream] — how to create a custom event stream from any source of events
  li #[a(href="demos/tree.html") Tree] — Bacon.js vs Kefir.js performance comparison, and also nice tree animation demo

p.
  #[img(data-emoji="information_desk_person")]
  Also, almost any code snippet below can be run in the browser console, on this page.
  So you can play with Kefir right now, just open up the browser console.
