h1 <img src="Kefir.svg" class="logo-img"> Kefir.js

p.
  Kefir &mdash; is an FRP (functional reactive programming)
  library for JavaScript inspired by
  <a href="https://github.com/baconjs/bacon.js">Bacon.js</a>
  and
  <a href="http://reactive-extensions.github.io/RxJS/">RxJS</a>
  with focus on high perfomance and low memory consumption.


p.
  Kefir has
  <a href="https://github.com/pozadi/kefir">
    <img data-emoji="octocat"> GitHub repository</a>, where you can
  <a href="https://github.com/pozadi/kefir/pulls">send pull requests</a>,
  <a href="https://github.com/pozadi/kefir/issues">report bugs</a>,
  and have fun reading
  <a href="https://github.com/pozadi/kefir/tree/master/src">source code</a>.

h2#downloads Downloads <sup>(#{pkg.version})</sup>

table
  tr
    th(rowspan="2" valign="top" align="left") Main file
    td: a(href='dist/kefir.js') kefir.js
    td: i ~ 30 kb
  tr
    td: a(href='dist/kefir.min.js') kefir.min.js
    td: i ~ 5 kb (when gzipped)
  tr(id="jquery-addon-download")
    th(rowspan="2" valign="top" align="left") jQuery addon
    td: a(href='dist/addons/kefir-jquery.js') kefir-jquery.js
    td: i ~ 1 kb
  tr
    td: a(href='dist/addons/kefir-jquery.min.js') kefir-jquery.min.js
    td: i &lt; 1 kb

p.
  You can also
  <a href="https://github.com/pozadi/kefir/tree/master/dist">
    get edge versions from GitHub</a>,
  but use it at your own risk


h2#npm-bower NPM and Bower

pre.
  npm install kefir

pre.
  bower install kefir
div


h2#demos Demos and examples

ul
  li
    a(href="demos/counter.html") Counter
    = " "
    | — most basic example
  li
    a(href="demos/position.html") Position
    = " "
    | — another basic example
  li
    a(href="demos/custom-stream.html") Custom stream
    = " "
    | — how to create custom event stream from any source of events
  li
    a(href="demos/tree.html") Tree
    = " "
    | — Bacon.js vs Kefir.js perfomance comparison, and also nice tree animation demo


p.
  <img data-emoji="information_desk_person"> PRO TIP:
  Almost any code snippets below can be run in browser console on this page.<br>
  So you can play with Kefir right now, just open up browser console.
