h1
  | <img src="Kefir.svg" class="logo-img"> Kefir.js
  = " "
  sup #{pkg.version} (<a href="https://github.com/rpominov/kefir/blob/master/changelog.md">changelog</a>)

p.
  Kefir &mdash; is a Reactive Programming
  library for JavaScript inspired by
  <a href="https://github.com/baconjs/bacon.js">Bacon.js</a>
  and
  <a href="http://reactivex.io/rxjs/">RxJS</a>,
  with focus on high performance and low memory usage.


p.
  Kefir has a
  <a href="https://github.com/rpominov/kefir">
    <img data-emoji="octocat"> GitHub repository</a>, where you can
  <a href="https://github.com/rpominov/kefir/pulls">send pull requests</a>,
  <a href="https://github.com/rpominov/kefir/issues">report bugs</a>,
  and have fun reading
  <a href="https://github.com/rpominov/kefir/tree/master/src">source code</a>.

p.
  See also
  #[a(href='https://github.com/rpominov/kefir/blob/master/deprecated-api-docs.md') Deprecated API docs].


h2#installation Installation

p.
  Kefir is available as an NPM and a Bower package, as well as a simple file download.

h3#npm NPM

pre.
  npm install kefir

h3#bower Bower

pre.
  bower install kefir

h3#downloads Downloads <sup>(#{pkg.version})</sup>

table
  tr
    th(rowspan="1" valign="top") For Development
    td: a(href='dist/kefir.js') kefir.js
    td: i ~ 100 KB
  tr
    th(rowspan="1" valign="top") For Production
    td: a(href='dist/kefir.min.js') kefir.min.js
    td: i ~ 10 KB (when gzipped)

  tr
    td.rule(colspan="3")
  tr
    th All files
    td: a(href='https://github.com/rpominov/kefir/archive/' + pkg.version + '.zip') kefir-#{pkg.version}.zip
    td ... including documentation, tests, source maps, etc.

p.
  Kefir also available on #[a(href='http://www.jsdelivr.com/#!kefir') jsDelivr].



