h1
  | <img src="Kefir.svg" class="logo-img"> Kefir.js
  = " "
  sup #{pkg.version} (<a href="https://github.com/pozadi/kefir/blob/master/changelog.md">changelog</a>)

p.
  Kefir &mdash; is an Reactive Programming
  library for JavaScript inspired by
  <a href="https://github.com/baconjs/bacon.js">Bacon.js</a>
  and
  <a href="http://reactive-extensions.github.io/RxJS/">RxJS</a>
  with focus on high perfomance and low memory usage.


p.
  Kefir has
  <a href="https://github.com/pozadi/kefir">
    <img data-emoji="octocat"> GitHub repository</a>, where you can
  <a href="https://github.com/pozadi/kefir/pulls">send pull requests</a>,
  <a href="https://github.com/pozadi/kefir/issues">report bugs</a>,
  and have fun reading
  <a href="https://github.com/pozadi/kefir/tree/master/src">source code</a>.

p.
  If you spot a typo or grammar error, or know how to improve this documentation,
  please help the project by
  <a href="https://github.com/pozadi/kefir/issues/new">filing an issue</a>
  or sending a pull request.

h2#downloads Downloads <sup>(#{pkg.version})</sup>

table
  tr
    th(rowspan="2" valign="top") Main file
    td: a(href='dist/kefir.js') kefir.js
    td: i ~ 50 kb
  tr
    td: a(href='dist/kefir.min.js') kefir.min.js
    td: i ~ 7 kb (when gzipped)
  tr(id="jquery-addon-download")
    th(rowspan="2" valign="top") jQuery addon
    td: a(href='dist/addons/kefir-jquery.js') kefir-jquery.js
    td: i ~ 1 kb
  tr
    td: a(href='dist/addons/kefir-jquery.min.js') kefir-jquery.min.js
    td: i &lt; 1 kb
  tr
    td.rule(colspan="3")
  tr
    th All files
    td: a(href='https://github.com/pozadi/kefir/archive/' + pkg.version + '.zip') kefir-#{pkg.version}.zip
    td ... including documentation, demos, tests, source maps, etc.

p.
  You can also
  <a href="https://github.com/pozadi/kefir/tree/master/dist">
    get edge versions from GitHub</a>
  (<a href="https://github.com/pozadi/kefir/archive/master.zip">.zip</a>),
  but use it at your own risk


h2#npm-bower NPM and Bower

pre.
  npm install kefir

pre.
  bower install kefir
div


h2#demos Demos and examples

ul
  li
    a(href="demos/counter.html") Counter
    = " "
    | — most basic example
  li
    a(href="demos/position.html") Position
    = " "
    | — another basic example
  li
    a(href="demos/custom-stream.html") Custom stream
    = " "
    | — how to create custom event stream from any source of events
  li
    a(href="demos/tree.html") Tree
    = " "
    | — Bacon.js vs Kefir.js perfomance comparison, and also nice tree animation demo


p.
  <img data-emoji="information_desk_person">
  Also almost any code snippet below can be ran in browser console on this page.
  So you can play with Kefir right now, just open up browser console.
