h2#jquery jQuery addon

p.
  jQuery functionality comes as an addon for core Kefir.js library.
  In order to use it you should include addon JavaScript file,
  that can be found in <a href="#downloads">downloads section</a>.

+descr-method('as-kefir-stream', 'asKefirStream', '$(...).asKefirStream(eventName, [selector], [transfomEventFn])').
