h2#main-methods Subscribe / add side effects

+descr-method('observe', 'observe', 'obs.observe(Observer|callback)').
  Subscribes the provided Observer to #[tt obs]. Observer is an object with 3 optional methods:

ul
  li #[b next] - called on values from the observable
  li #[b error] - called on errors from the observable
  li #[b complete] - called on end of the observable

p.
  Returns a #[tt Subscription] object, which has
  an #[tt unsubscribe] method and a read-only #[tt closed] property.
  #[tt closed] indicates whether the #[tt unsubscribe] method has been called
  and the subscription to the observable has been closed.

pre.javascript(title='example')
  :escapehtml
    var stream = Kefir.sequentially(1000, [1, 2]);
    subscription = stream.observer({
      next(value) {
        console.log('value', value)
      },
      error(value) {
        console.log('error', value)
      },
      complete(value) {
        console.log('closed', subscription)
      },
    });

pre(title='console output')
  :escapehtml
    > value: 1
    > value: 2
    > complete: undefined

p.
  In addition to passing in an Observer, #[tt observe] can takes 1-3 callbacks individually:

pre.javascript(title='example')
  :escapehtml
    var stream = Kefir.sequentially(1000, [1, 2]);
    stream.observer(
      function onNext(value) {
        console.log('value', value)
      },
      function onError(value) {
        console.log('error', value)
      },
      function onComplete(value) {
        console.log('closed', subscription)
      }
    );

+descr-method('on-value', 'onValue', 'obs.onValue(callback)').
  Subscribes #[b callback] to values on an observable.

p.
  If called on a property, which has a current value,
  #[b callback] will be called immediately (synchronously)
  with that value.

pre.javascript(title='example')
  :escapehtml
    var stream = Kefir.sequentially(1000, [1, 2]);
    stream.onValue(x => {
      console.log('value:', x);
    });

pre(title='console output')
  :escapehtml
    > value: 1
    > value: 2

+descr-method('off-value', 'offValue', 'obs.offValue(callback)').
  Unsubscribes #[b callback] from values on an observable.


+descr-method('on-error', 'onError', 'obs.onError(callback)').
  Subscribes #[b callback] to #[a(href='#about-errors') errors] on an observable.

p.
  If called on a property, which has a current error,
  #[b callback] will be called immediately (synchronously)
  with that error.

pre.javascript(title='example')
  :escapehtml
    var property = Kefir.constantError(1);
    property.onError(x => {
      console.log('error:', x);
    });

pre(title='console output')
  :escapehtml
    > error: 1

+descr-method('off-error', 'offError', 'obs.offError(callback)').
  Unsubscribes #[b callback] from errors on an observable.


+descr-method('on-end', 'onEnd', 'obs.onEnd(callback)').
  Subscribes #[b callback] to ending of an observable.

p.
  If observable is already ended, #[b callback] will be called immediately (synchronously).

pre.javascript(title='example')
  :escapehtml
    var stream = Kefir.sequentially(1000, [1, 2]);
    stream.onEnd(() => {
      console.log('stream ended');
    });

pre(title='console output')
  :escapehtml
    > stream ended

+descr-method('off-end', 'offEnd', 'obs.offEnd(callback)').
  Unsubscribes #[b callback] from ending of an observable.

+descr-method('on-any', 'onAny', 'obs.onAny(callback)').
  Subscribes #[b callback] to all three types of events.
  Callback is called with an #[b event object] as argument. Each event object
  contains three attributes — #[b type], #[b value], and #[b current].

ul
  li #[b type] — a #[tt 'value'], #[tt 'error'], or #[tt 'end'] string
  li #[b value] — the emitted #[b value] or #[b error] (#[tt undefined] if #[tt event.type === 'end'])

pre.javascript(title='example')
  :escapehtml
    var stream = Kefir.sequentially(1000, [1, 2]);
    stream.onAny(event => {
      console.log('event:', event);
    });

pre(title='console output')
  :escapehtml
    > event: Object {type: "value", value: 1}
    > event: Object {type: "error", value: 2}
    > event: Object {type: "end", value: undefined}

+descr-method('off-any', 'offAny', 'obs.offAny(callback)').
  Unsubscribes an #[b onAny] subscriber.

+descr-method('log', 'log', 'obs.log([name])').
  Turns on logging of any event to the browser console.
  Accepts an optional #[b name] argument that will be shown in the log if provided.

pre.javascript(title='example')
  :escapehtml
    var stream = Kefir.sequentially(1000, [1, 2]);
    stream.log('my stream');

pre(title='console output')
  :escapehtml
    > my stream <value> 1
    > my stream <value> 2
    > my stream <end>

+descr-method('off-log', 'offLog', 'obs.offLog([name])').
  Turns off logging. If #[b .log] was called with a #[b name] argument,
  #[b offLog] must be called with the same #[b name] argument.

