h2#main-methods Main observable methods


+descr-method('on-value', 'onValue', 'observable.onValue(fn)').

+descr-method('off-value', 'offValue', 'observable.offValue(fn)').

+descr-method('on-end', 'onEnd', 'observable.onEnd(fn)').

+descr-method('off-end', 'offEnd', 'observable.offEnd(fn)').

+descr-method('log', 'log', 'observable.log([name])').
