h2#main-methods Main property methods


+descr-method('on', 'on', 'property.on(type, fn)').


+descr-method('watch', 'watch', 'property.watch(type, fn)').


+descr-method('off', 'off', 'property.off(type, fn)').


+descr-method('has', 'has', 'property.has(type)').


+descr-method('get', 'get', 'property.get(type)').


+descr-method('log', 'log', 'property.log([name])').
