h2#modify Modify a property


+descr-method('map', 'map', 'property.map(fn)').


+descr-method('filter', 'filter', 'property.filter(fn)').


+descr-method('take', 'take', 'property.take(n)').


+descr-method('take-while', 'takeWhile', 'property.takeWhile(fn)').


+descr-method('skip', 'skip', 'property.skip(n)').


+descr-method('skip-while', 'skipWhile', 'property.skipWhile(fn)').


+descr-method('skip-duplicates', 'skipDuplicates', 'property.skipDuplicates([fn])').


+descr-method('diff', 'diff', 'property.diff(seed, fn)').


+descr-method('scan', 'scan', 'property.scan(seed, fn)').


+descr-method('reduce', 'reduce', 'property.reduce(seed, fn)').


+descr-method('add-current', 'addCurrent', 'property.addCurrent(type, valueOrError)').


+descr-method('skip-current', 'skipCurrent', 'property.skipCurrent([type])').


+descr-method('with-handler', 'withHandler', 'property.withHandler(fn)').


+descr-method('delay', 'delay', 'property.delay(wait)').


+descr-method('throttle', 'throttle', 'property.throttle(wait, [options])').


